/*----------Setup-----------*/

* {
	margin: 0px;
	padding: 0px;
}

html {
}

body {
	padding: 5em;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.7;
	color: #4C4C4C;
}

/*----------Comments Style-----------*/

.comments {
	color: #4C4C4C;
	margin-bottom: 2em;
	border-bottom: 1px solid #4C4C4C;
}

.comments p, .comments h2, .comments ul{
	margin-bottom: 1em;
}

.comments .nospace {
	margin-bottom: 0;
}

.comments ul {
	margin-left: 3em;
}

/*----------Game Box-----------*/
.gamebox {
	background-color: yellowgreen;
	width: 600px;
	height: 500px;
}

.points-holder {
	background-color: black;
	margin: 0 auto;
	padding-left: 10px;
}

.points, .points-label {
	display: inline;
	color: white;
}

.road {
	background-color: dimgray;
	background-image: 
		linear-gradient(white,white),
		linear-gradient(white,white),
		linear-gradient(white,white),
		linear-gradient(white,white),
		linear-gradient(white,white),
		linear-gradient(white,white),
		linear-gradient(white,white);
	background-size: 
		5px 10%,
		5px 10%,
		5px 10%,
		5px 10%,
		5px 10%,
		5px 10%,
		5px 10%;
	background-position: 
		50% -20%,
		50% 0%,
		50% 20%,
		50% 40%,
		50% 60%,
		50% 80%,
		50% 100%;
	background-repeat: no-repeat;
	position: relative;
	left: 100px;
	width: 400px;
	height: 473px;
	animation: dashing .5s linear infinite;
}

@keyframes dashing {
	0% {background-position: 
			50% -20%,
			50% 0%,
			50% 20%,
			50% 40%,
			50% 60%,
			50% 80%,
			50% 100%;
	}



	100% {
		background-position:
			50% 0%,
			50% 20%,
			50% 40%,
			50% 60%,
			50% 80%,
			50% 100%,
			50% 120%;
	}
}

/*I figured out how to make the dashed centerline from this
sample code: https://codepen.io/carpenumidium/pen/oBtja*/

.road p {
	display: inline;
	color: white;
	background-color: rgba(255, 255, 255, .25);
	padding: 5px;
	position: relative;
	letter-spacing: .05em;
	top: 100px;
	left: 95px;
}

.car {
	position: absolute;
	left: 185px;
	bottom: 20px;
}

.car > img {
	height: 110px;
}

.cow, .bam {
	background-color: lime;
	position: absolute;
	width: 50px;
	height: 50px;
	/*animation: moving .5s linear 1;*/
}

.spin {
	animation: spin .5s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes moving {
	0% {
		top: 0%;
	}



	100% {
		top: 100%;
	}	
}


/*----------Objects-----------*/




